<div class="{{mainclass}}">
    <h2 class="{{iconclass}}">{{title}}</h2>

    <div class="category add" ng-click="addItem()">{{addtitle}}</div>
    <br class="clear" />
    <div class="category" ng-repeat="item in items" ng-click="setCurrent($index)" ng-class="{selected:isCurrent($index)}">
        <div ng-show="!isEditing($index)">{{item[itemdisp]}} <span ng-show="badgedisp != null">{{item[badgedisp]}}</span></div>
        <input id="category{{$index}}" type="text" ng-model="item[itemdisp]" ng-show="isEditing($index)" ng-enter="endEditing($index)" />
        <div class="category-popup">
            <ul ng-show="isPopupVisible($index)">
                <li ng-click="beginEditing($index)">Edit</li>
                <li ng-click="delItem($index)">Remove</li>
            </ul>
        </div>
    </div>
    <br class="clear" />
</div>