<main ng-app="kmApp.modules.account">
    <div class="subHeader">
        <h1>Account Settings</h1>
    </div>
    <div class="step">
        <ul>
            <li class="active"><a href="#/account">User</a></li>
            <li><a href="#/account/plan">Plan</a></li>
        </ul>
    </div>
    <div class="wrapData">
        <div class="data account">
            <header>
                <h1>Active users</h1>
                <div class="addNew"><a ng-click="NewUsr=true">+ New Users</a></div>
            </header>
            <div class="wrapContain  no-padd">
                <div class="accountUserDetails" ng-repeat="item in ActiveUser">
                    <div class="userName">{{item.UserName}}</div>
                    <div class="userEmail">{{item.UserEmail}}</div>
                    <div class="offerManage">
                        <div class="selection" dropdown-select="UserManagementList"
                             dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Select Role Type">
                        </div>
                    </div>
                    <div class="userOption"> <a ng-click="UsrRemove(item)" class="remove close-green-icon">Remove</a> <a href="#">Reset Password</a></div>
                </div>
            </div>
            <div class="wrapContain" ng-init="NewUsr=false" ng-show="NewUsr">
                <div class="subWrapContain accts ">
                    <header>
                        <h2>New user</h2>
                    </header>
                    <form name="invite">
                        <div class="UsrAdd">
                            <div class="UsrEmail">
                                <p>Email Address</p>
                                <input type="email" class="focus" ng-model="Invite.UserEmail" />
                            </div>
                            <div class="UsrRole">
                                <p>Select Role</p>
                                <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Select Role Type">
                                </div>
                            </div>
                            <div class="UsrOption"> <a ng-click="NewUsr=false">Cancel</a> <a class="invite">Invite</a> </div>
                        </div>
                    </form>
                </div>
                <br class="clear">
            </div>
            <br class="clear">
        </div>
    </div>
    <br class="clear">

</main>