<main class="white" ng-app="kmApp.modules.account">
  <div class="subHeader">
    <h1>Koupon Accounts</h1>
    <div class="addAccount"><a href="#">+ New Account</a></div>
  </div>
  <div class="filter">
    <div class="search">
     <input type="text" class="focus search-icon" ng-model="searchtext"  placeholder="search offers"/>
    </div>
  </div>
  <div class="wrapGridList" clienttable 
 						   tabledata='tabledata'
                           groupeditmode='groupeditmode'
           				   totalcount='totalcount' 
                           getnextpage='getnextpage()'
                           getprevpage='getprevpage()'
                           getselectpage='getselectpage(num)' 
                           overridecopy="hidecopy" overrideedit="hideedit"
                           pagesize='pagesize'
                           currentpage='currentpage' 
                           pagenumbers='pagenumbers'
                           searchtext='searchtext'>
                </div>
  
</main>
