<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Koupan Media</title>
<link href="../css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
  <div id="logo"></div>
  <div class="userInfo">
    <div class="userDetails"> <img src="../images/user.jpg" /> <span>james stevenson</span> </div>
    <a href="#">Documentation</a> </div>
</header>
<div class="subHeader">
  <h1>Koupon Accounts</h1>
</div>
<div class="accounts">
  <form>
    <div class="accountDesc">
      <div class="accountName">
        <p>Account Name</p>
        <input type="text" class="focus" />
      </div>
      <div class="plan">
        <p>Plan</p>
        <div class="selection">
          <input type="text" />
          <ul>
            <li>option</li>
            <li>option</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="inviteHead">
      <h6>Invite some users</h6>
    </div>
    <div class="accountDesc inviteBody">
      <div class="accountName">
        <p>Email Address</p>
        <input type="text" class="focus"/>
      </div>
      <div class="plan">
        <p>Role</p>
        <div class="selection">
          <input type="text" />
          <ul>
            <li>option</li>
            <li>option</li>
          </ul>
        </div>
      </div>
      <div class="accountName">
        <p>Email Address</p>
        <input type="text" class="focus"/>
      </div>
      <div class="plan">
        <p>Role</p>
        <div class="selection">
          <input type="text" />
          <ul>
            <li>option</li>
            <li>option</li>
          </ul>
        </div>
      </div>
      <div class="accountName">
        <p>Email Address</p>
        <input type="text" class="focus"/>
      </div>
      <div class="plan">
        <p>Role</p>
        <div class="selection">
          <input type="text" />
          <ul>
            <li>option</li>
            <li>option</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="centerButtom"><a href="#">Create account</a></div>
    <br class="clear" />
  </form>
  <div class="divider"></div>
</div>
<div class="center"><a href="#">Cancel</a></div>
</body>
</html>
