
<main ng-app="kmApp.modules.account">
  <div class="subHeader">
    <h1>Account Settings</h1>
  </div>
  <div class="step">
    <ul>
      <li><a href="{{'account'|links}}">User</a></li>
      <li class="active"><a href="{{'account/plan'|links}}">Plan</a></li>
    </ul>
  </div>
  <div class="data plan">
    <header>
      <h1>YOUR CURRENT PLAN</h1>
    </header>
    <div class="wrapContain">
      <div class="headPlan"><span>Advanced </span>Up to 250 Stores</div>
      <div class="planCat">
        <li>Offer Management</li>
        <li>Offer Distribution</li>
        <li>Location Targeting</li>
      </div>
    </div>
    <br class="clear"/>
  </div>
  <div class="data plan p2">
    <header>
      <h1>Interested in upgrading</h1>
      <span class="question-icon" style="margin-right:36px;"></span> </header>
    <div class="wrapContain set">
      <div class="sets add">
        <div class="headPlan"><span>Pro </span>Up to 250 Stores</div>
        <div class="planCat">
          <li>Offer Management</li>
          <li>Offer Distribution</li>
          <li>Location Targeting</li>
        </div>
        <div class="learnMore"><a href="#">Learn More </a></div>
      </div>
      <div class="sets add">
        <div class="headPlan"><span>Enterprise </span>500+ Stores</div>
        <div class="planCat">
          <li>Offer Management</li>
          <li>Offer Distribution</li>
          <li>Location Targeting</li>
        </div>
        <div class="learnMore"><a href="#">Learn More </a></div>
      </div>
      <div class="sets add">
        <div class="headPlan"><span>Core </span>Up to 250 Stores</div>
        <div class="planCat">
          <li>Offer Management</li>
          <li>Offer Distribution</li>
          <li>Location Targeting</li>
        </div>
        <div class="learnMore"><a href="#">Learn More </a></div>
      </div>
      <div class="contacts"><a href="#">Contact Us</a></div>
    </div>
    <br class="clear"/>
  </div>
</main>
