<main class="white" ng-app="kmApp.modules.channel">
  <div class="subHeader">
    <h1>Channels</h1>
    <div class="addItem"><a href="#">Add Channel</a></div>
  </div>
  <div class="data summary">
    <header>
      <h1>these are your current channels</h1>
    </header>
    <div class="wrapContainer">
      <div class="sets">
        <div class="select-channels">
          <h1 class="android-icon">VS Android App</h1>
        </div>
        <div class="channels"><a href="#/channels/summary" class="border-links">Manage</a> </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="wrapContainer">
      <div class="sets">
        <div class="select-channels iphone-channels">
          <h1 class="iphone-icon">VS Native iOS App </h1>
        </div>
        <div class="channels"><a href="#/channels/summary" class="border-links">Manage</a> </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="wrapContainer">
      <div class="sets">
        <div class="select-channels web-channels">
          <h1 class="web-icon">VS Web</h1>
        </div>
        <div class="channels"><a href="#/channels/summary" class="border-links">Manage</a> </div>
      </div>
    </div>
    <br class="clear"/>
  </div>
  <div class="center">Learn more about Channels <a href="#">here</a></div>
</main>
