<main class="white" ng-app="kmApp.modules.channel">
    <div class="subHeader">
        <h1 ng-hide="isnew">New Channel</h1>
        <h1 ng-show="isnew">{{model.channel_name}}</h1>
        <div class="headOption dropdown" ng-show="isnew">
            <span>Options</span>
            <div class="options">
                <li><a href="#" class="copy-icon">Copy</a></li>
                <li><a href="#" class="remove-icon">Remove</a></li>
            </div>
        </div>
    </div>
    <div class="data summary">
        <header>
            <h1>template type</h1>
            <span class="question-icon dg2"></span>
        </header>
        <div class="wrapContainer">
            <div class="sets">
                <div class="tempdetail">
                    <h1>Offer Viewer</h1>
                    <p>Koupon's Offer Viewer tool is the fastest and easiest way to display offers to customers. Style your experience below and we'll generate the page for you.</p>
                </div>
                <div class="designbox"><a href="#/{{UserData.clientName}}/channels/design" class="border-links">Select</a> </div>
            </div>
            <div class="divider"></div>
            <div class="sets">
                <div class="tempdetail no-mrg">
                    <h1>Go Custom</h1>
                    <p>If you'd prefer a more unique look, select custom.  We'll provide the code you need to display offers in your web experience, but it will require development.</p>
                </div>
                <div class="designbox">
                    <div class="select-with-click">
                        <h3 class="click">Selected</h3>
                    </div>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>
    <footer>
        <a>Save & Continue</a> <a class="cancel" href="details.html">cancel</a> <br class="clear">
    </footer>
</main>
