<main class="white" ng-app="kmApp.modules.channel">
  <div class="subHeader">
    <h1>VS Web Channel</h1>
  </div>
  <div class="step arrow">
    <ul>
      <li><a href="#/{{UserData.clientName}}/channels/summary/{{channelid}}">Summary</a></li>
      <li><a href="#/{{UserData.clientName}}/channels/design/{{channelid}}">Design</a></li>
      <li class="active"><a href="#/{{UserData.clientName}}/channels/details/{{channelid}}">Details</a></li>
    </ul>
  </div>
  <div class="data details">
    <header>
      <h1>Your channel is ready</h1>
      <span class="question-icon dg2"></span> </header>
    <div class="wrapContainer ">
      <div class="sets">
        <p>Your channel is ready. Follow the instructions below to complete the setup process</p>
      </div>
      <div class="sets">
        <div class="count"><span>1</span>
          <p>API Information</p>
        </div>
        <div class="grey-box mrg-btm">
          <p>api key </p>
          <span>fjlakfddafklfka</span></div>
        <div class="grey-box mrg-btm">
          <p>api secret</p>
          <span>lafdkfak;flakf;</span></div>
        <div class="grey-box mrg-btm">
          <p>channel Id</p>
          <span>vsappofer</span></div>
      </div>
      <div class="sets">
        <div class="count"><span>2</span>
          <p>To get started download our <a href="#">offer SDK</a> and <a href="#">sample apps </a>for iOS and android.</p>
        </div>
      </div>
      <div class="sets">
        <div class="count"><span>3</span>
          <p>Create an offer in the Offers page and distribute the offer to the VS Secret Channel.</p>
        </div>
      </div>
      <div class="sets">
        <div class="count"><span>4</span>
          <p>Learn more about distruting offers to channels on our <a href="#">support page.</a></p>
        </div>
      </div>
    </div>
    <div class="divider no-btm"></div>
    <div class="centerButtom mrg"><a href="#">Done</a></div>
    <br class="clear"/>
  </div>
</main>
