<main class="white" ng-app="kmApp.modules.channel">
    <div class="subHeader">
        <h1>Channels</h1>
        <div class="addItem"><a href="#/{{UserData.clientName}}/channels/summary/0">Add Channel</a></div>
    </div>
    <div class="data summary">
        <header>
            <h1 ng-hide="nochannel">these are your current channels</h1>
            <h1 ng-show="nochannel">you have 0 channels</h1>
        </header>
        <div class="float rchannels" ng-repeat="item in channels track by $index" ng-class="{no:$last}">
            <div class="wrapContainer">
                <div class="sets">
                    <div class="select-channels">
                        <h1 class="{{item.channel_type.type}}-icon">{{item.channel_name}}</h1>
                    </div>
                    <div class="channels"><a href="#/{{UserData.clientName}}/channels/summary/{{item.id}}" class="border-links">Manage</a> </div>
                </div>
            </div>
        </div>
        <br class="clear" />
    </div>
    <div class="center">Learn more about Channels <a href="#">here</a></div>
</main>
