
<main class="white" ng-app="kmApp.modules.channel">
  <div class="subHeader">
    <h1>General Settings</h1>
  </div>
  <div class="step arrow">
    <ul>
      <li class="active"><a href="#/channels/summary">Summary</a></li>
      <li><a href="#/channels/design">Design</a></li>
      <li><a href="#/channels/details">Details</a></li>
    </ul>
  </div>
  <div class="data summary">
    <header>
      <h1>channel overview </h1>
    </header>
    <div class="wrapContainer">
      <div class="sets">
        <p>Channel Type</p>
        <div class="selection">
          <input type="text" placeholder="Web">
          <ul>
            <li>option</li>
            <li>option</li>
          </ul>
        </div>
      </div>
      <div class="sets">
        <p>Name</p>
        <input type="text" class="focus"/>
      </div>
      <div class="sets">
        <p>Channel ID</p>
        <input type="text" class="focus"/>
      </div>
      <div class="sets">
        <p>Description</p>
        <textarea rows="5"></textarea>
      </div>
    </div>
    <div class="divider no-btm"></div>
    <div class="centerButtom"> <a >Continue</a> </div>
    <br class="clear"/>
  </div>
  <div class="center">Learn more about Channels <a href="#">here</a></div>
</main>
