<main class="offer" ng-app="kmApp.modules.offer">
    <form name="offer">
        <div class="subHeader">
            <h1>{{title}}</h1>
        </div>
        <div class="step arrow">
            <ul>
                <li class="active"><a href="#/{{UserData.clientName}}/campaign/details/{{campaign_id}}">Details</a></li>
                <li><a href="#/{{UserData.clientName}}/campaign/redemption/{{campaign_id}}">Redemption</a></li>
                <li><a href="#/{{UserData.clientName}}/campaign/channels/{{campaign_id}}">Channels</a></li>
            </ul>
        </div>
        <div class="offerContainer">
            <div class="offer-left-panel">
                <header>
                    <h1>Summary</h1>
                    <span class="question-icon"></span>
                </header>
                <div class="wrapContainer">
                    <div class="sets">
                        <p>Name</p>
                        <input type="text" class="focus" required="required" ng-model="model.campaign_name" />
                    </div>
                    <div class="sets">
                        <p>Headline</p>
                        <input type="text" class="focus" required="required" ng-model="model.campaign_title" />
                    </div>
                    <div class="sets">
                        <p>Sub Headline</p>
                        <input type="text" class="focus" required="required" ng-model="model.valid_date_description" />
                    </div>
                    <div class="sets">
                        <p>Offer Categories</p>
                        <div class="selection2">
                            <ui-select multiple ng-model="model.categories" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                <ui-select-match placeholder="Select Categories">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="List in categoriesList | filter:$select.search"> {{List}} </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="sets">
                        <div class="percentage">
                            <p>Offer Type</p>
                            <div class="selection2">
                                <ui-select multiple ng-model="model.ddType" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                    <ui-select-match placeholder="Select Offer Type">{{$item}}</ui-select-match>
                                    <ui-select-choices repeat="List in ddTypeList | filter:$select.search"> {{List}} </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="discount">
                            <p>% Discount</p>
                            <input type="text" ng-model="model.discount" />
                        </div>
                        <div class="off"> <span>off</span> </div>
                        <div class="amount">
                            <p>$ Amount</p>
                            <input type="text" ng-model="model.amount" />
                        </div>
                    </div>
                </div>
                <div class="title">
                    <h1>mobile wallet options</h1>
                    <span class="question-icon"></span>
                </div>
                <div class="wrapContainer">
                    <div class="sets">
                        <p>Offer Categories</p>
                        <div class="selection2">
                            <ui-select multiple ng-model="model.mob_categories" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                <ui-select-match placeholder="Select Offer Categories">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="List in mob_categoriesList | filter:$select.search"> {{List}} </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="title">
                    <h1>additional offer content</h1>
                    <span class="question-icon"></span>
                </div>
                <div class="wrapContainer">
                    <div class="sets">
                        <p>Offer Disclaimer</p>
                        <input type="text" class="focus" required="required" ng-model="model.Disclaimer" />
                    </div>
                    <div class="sets">
                        <p>Offer Instructions</p>
                        <input type="text" class="focus" required="required" ng-model="model.coupon_instructions" />
                    </div>
                    <div class="sets">
                        <p>Offer Redemption Copy</p>
                        <input type="text" class="focus" required="required" ng-model="model.DoneMsg" />
                    </div>
                </div>
            </div>
            <div class="offer-right-panel">
                <header>
                    <h1>images</h1>
                    <span class="question-icon"></span>
                </header>
                <p class="imagesDesc">Images must be JPG, GIF or PNGs at 160x160 px</p>
                <div class="wrapContainer">
                    <div class="setbackground">
                        <header>
                            <h1>Primary Image</h1>
                            <a class="remove close-grey-icon" href="#">Remove</a>
                        </header>
                        <div class="setImage"><img src="kmApp/images/preview.png" alt="" /></div>
                        <div class="imgPreview"> <a href="#">Preview Size</a></div>
                    </div>
                </div>
                <div class="wrapContainer">
                    <div class="setbackground">
                        <header>
                            <h1>Additional Image<span> optional if pushing to custom channels</span></h1>
                        </header>
                        <div class="setuploading">
                            <div class="btnFile">
                                <span class="file-icon">Upload New</span>
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br class="clear" />
        <footer>
            <button ng-disabled="offer.$invalid" ng-click="saveCampaign()">Save Changes</button> <button class="border-links" ng-disabled="offer.$invalid" ng-click="saveCampaign()">Save As Draft</button> <a href="#/{{UserData.clientName}}/campaign" class="cancel">cancel</a> <br class="clear">
        </footer>
    </form>
</main>
