
<main class="offers" ng-app="kmApp.modules.offer">
  <div class="subHeader">
    <h1>Offers</h1>
    <div class="option"> <a class="newStore" href="{{'campaign/template'|links}}" > Create Offer </a> </div>
  </div>
  <div class="filter">
    <div class="search">
      <input type="text" class="focus search-icon" ng-model="searchtext"  ng-searchenter="currentpage=1;skipsize=0;getPassTableDetail()" placeholder="search offers"/>
    </div>
    <div class="groups">
      <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Status: All"> </div>
    </div>
    <div class="groups">
      <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Category: All"> </div>
    </div>
    <div class="groups">
      <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Manage: All"> </div>
    </div>
  </div>
 <div class="wrapGridList" clienttable 
 						   tabledata='tabledata'
                           groupeditmode='groupeditmode'
           				   totalcount='totalcount' 
                           deletetargetlist='deleteTemplate(I, K)'
                           edittargetlist='editTemplate(I, K)'
                           copytargetlist='copyTemplate(I, K)'
                           templatetargetlist='saveAsTemplate(I,K)'
                           deactivetargetlist='deactiveTemplate(I,K)' 
                           selecttargetlist='selectedTemplate(I, K)'
                           getnextpage='getnextpage()'
                           getprevpage='getprevpage()'
                           getselectpage='getselectpage(num)' 
                           overridecopy="hidecopy" overrideedit="hideedit"
                           pagesize='pagesize'
                           currentpage='currentpage' 
                           pagenumbers='pagenumbers'
                           searchtext='searchtext'>
                </div>
</main>
