
<main class="offers" ng-app="kmApp.modules.offer">
  <div class="subHeader">
    <h1>Offers</h1>
    <div class="option"> <a class="newStore" href="{{'campaign/template'|links}}" > Create Offer </a> </div>
  </div>
  <div class="filter">
    <div class="search">
      <input type="text" class="focus search-icon" ng-model="searchtext"  ng-searchenter="currentpage=1;skipsize=0;getPassTableDetail()" placeholder="search offers"/>
    </div>
    <div class="groups">
      <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Status: All"> </div>
    </div>
    <div class="groups">
      <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Category: All"> </div>
    </div>
    <div class="groups">
      <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="UserManagementVal" dropdown-item-label='text' dropdown-item-placeholder="Manage: All"> </div>
    </div>
  </div>
<!--  <div class="wrapGridList">
    <div class="data gridList offers">
      <div class="head">
        <div class="row1"><span>Offer</span></div>
        <div class="row2"><span>Headline</span></div>
        <div class="row3"><span>Start</span></div>
        <div class="row4"><span>End </span></div>
        <div class="row5"><span>Status</span></div>
        <div class="row6"><span></span></div>
      </div>
      <div class="body">
        <div class="sets">
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"> <span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
        <div class="sets">
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"> <span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
        <div class="sets">
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"> <span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
        <div class="sets">
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"> <span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
        <div class="sets">
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"> <span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
        <div class="sets">
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"> <span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
        <div class="sets">
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"> <span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
        <div class="sets">
          <div class="options">
            <li><a href="#">Copy</a></li>
            <li><a href="#">Remove</a></li>
            <li><a href="#">De-Active</a></li>
            <li><a href="#">Save As Template</a></li>
          </div>
          <div class="row1"><span>French Fry Promotion</span></div>
          <div class="row2"><span>Save 50% off French Fries Today</span></div>
          <div class="row3"><span>jul 6 2014</span></div>
          <div class="row4"><span>jul 26 2014</span></div>
          <div class="row5"><span>DeActivated</span></div>
          <div class="row6 dropdown"><span></span>
            <div class="options">
              <li><a href="#" class="copy-icon">Copy</a></li>
              <li><a href="#" class="remove-icon">Remove</a></li>
              <li><a href="#" class="de-active-icon">De-Active</a></li>
              <li><a href="#" class="save-as-temp-icon">Save As Template</a></li>
            </div>
          </div>
        </div>
      </div>
      <br class="clear"/>
    </div>
  </div>
  <div class="gridDetials">
    <div class="total">135 Total Offers</div>
    <div class="paging"> <a href="#">Previous</a> <span>1 of 5</span> <a href="#">Next</a></div>
  </div>-->
 <div class="wrapGridList" clienttable 
 						   tabledata='tabledata'
                           groupeditmode='groupeditmode'
           				   totalcount='totalcount' 
                           getnextpage='getnextpage()'
                           getprevpage='getprevpage()'
                           getselectpage='getselectpage(num)' 
                           overridecopy="hidecopy" overrideedit="hideedit"
                           pagesize='pagesize'
                           currentpage='currentpage' 
                           pagenumbers='pagenumbers'
                           searchtext='searchtext'>
                </div>
</main>
