
<main ng-app="kmApp.modules.offer">
  <div class="subHeader">
    <h1>General Settings</h1>
  </div>
  <div class="data sltTemplate">
    <header>
      <h1>Select your template</h1>
    </header>
    <div class="wrapContain ">
      <div class="selectOffer"> <span class="pencil-grey-icon">Blank Offer</span> <a href="#">Select</a> </div>
    </div>
    <div class="divider"></div>
    <div class="centerButtom"><a href="#/{{UserData.clientName}}/campaign/details">Continue</a></div>
    <br class="clear"/>
  </div>
</main>
