<main ng-app="kmApp.modules.general">
    <subheader></subheader>
    <form name="connected">
        <div class="data">
            <header>
                <h1>{{ConnectedServices.service_type}}</h1>
                <div class="connected"><a>Connected</a></div>
            </header>
            <div class="wrapContain">
                <div class="smsConnect sSelect">
                    <p>Provider</p>
                    <div class="selection2">
                        <ui-select ng-model="provider.selected" theme="select2" ng-disabled="disabled" style="width: 100%;">
                            <ui-select-match placeholder="Select Code Type">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="provider in providers | filter:$select.search">
                                {{provider.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="smsConnect access">
                    <p>Access Token</p>
                    <input type="text" class="focus" name="credential1" ng-model="ConnectedServices.credential1" placeholder="" />
                </div>
                <div class="smsConnect shortcode">
                    <p>Shortcode</p>
                    <input type="text" class="focus" name="credential2" ng-model="ConnectedServices.credential2" placeholder="" />
                </div>
                <div class="smsConnect keyword">
                    <p>Keyword</p>
                    <input type="text" class="focus" name="credential3" ng-model="ConnectedServices.credential3" placeholder="" />
                </div>
            </div>
            <br class="clear" />
        </div>
        <footer>
            <button ng-disabled="connected.$invalid" ng-click="saveConnectedServices()">Save Changes</button> <br class="clear" />
        </footer>
    </form>
</main>
