<main ng-app="kmApp.modules.general">
    <subheader></subheader>
    <div class="data">
        <header>
            <h1>SMS</h1>
            <div class="connected"><a href="#">Connected</a></div>
        </header>
        <form name="connected">
            <div class="wrapContain">
                <div class="smsConnect sSelect">
                    <p>Provider</p>
                    <div class="selection2">
                        <ui-select multiple ng-model="selectprovider" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                <ui-select-match placeholder="Select Code Type">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="List in selectProviderList | filter:$select.search">
                                    {{List}}
                                </ui-select-choices>
                         </ui-select>
                    </div>
                </div>
                <div class="smsConnect access">
                    <p>Access Token</p>
                    <input type="text" class="focus" ng-model="model.accesstoken" />
                </div>
                <div class="smsConnect shortcode">
                    <p>Shortcode</p>
                    <input type="text" class="focus" ng-model="model.shortcode" />
                </div>
                <div class="smsConnect keyword">
                    <p>Keyword</p>
                    <input type="text" class="focus" ng-model="model.keyword" />
                </div>
            </div>
            <!--<div class="title notConnected">
                <h1>Email</h1>
                <span>Not Connected</span> </div>
              <div class="wrapContain">
                <div class="smsConnect sSelect">
                  <p>Provider</p>
                  <div class="selection">
                    <input type="text" />
                    <ul>
                      <li>option</li>
                      <li>option</li>
                    </ul>
                  </div>
                </div>
              </div>-->
        </form>
        <br class="clear" />
    </div>
    <footer>
        <a href="#/general/store">Save Change</a> <br class="clear" />
    </footer>
</main>
