<main class="stores" ng-app="kmApp.modules.store">
    <div class="subHeader storeBg">
        <h1 ng-show="merchantid==0 && iscopy == 'false'">New Store</h1>
        <h1 ng-show="merchantid!=0 && iscopy == 'true'">Copy Store</h1>
        <h1 ng-show="merchantid!=0 && iscopy == 'false'">Edit Store</h1>
    </div>
    <form name="store">
        <div class="data newStore">
            <header class="storeBg">
                <h1>SUMMARY</h1>
            </header>
            <div class="wrapContain">
                <div class="sets">
                    <div class="storeName">
                        <p>Name</p>
                        <input type="text" name="storename" class="focus" placeholder="Name" required ng-model="model.name" />
                    </div>
                    <div class="merchantId">
                        <p>Merchant ID</p>
                        <input type="text" name="merchantid" class="focus" required ng-model="model.merchantid" ng-readonly="merchantid != 0 && iscopy == 'false'" />
                    </div>
                </div>
                <div class="sets">
                    <p>Address</p>
                    <input type="text" name="address" class="focus" required ng-model="model.address" />
                </div>
                <div class="sets">
                    <div class="storeCity">
                        <p>City</p>
                        <input type="text" name="city" class="focus" required ng-model="model.city" />
                    </div>
                    <div class="storeState">
                        <p>State</p>
                        <div class="selection2">
                            <ui-select ng-model="state.selected" theme="select2" ng-disabled="disabled" style="width: 120px;">
                                <ui-select-match placeholder="-Select-">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="state in states | filter:$select.search"> {{state.name}} </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="zipCode">
                        <p>Zip Code</p>
                        <input type="text" name="zip" class="focus" required ng-model="model.zip" />
                    </div>
                </div>
                <div class="sets" style="margin-bottom:20px;">
                    <div class="storeCountry">
                        <p>Country</p>
                            <div class="selection2">
                                <ui-select ng-model="country.selected" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                    <ui-select-match placeholder="Select Country">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="country in countryList | filter:$select.search"> {{country.name}} </ui-select-choices>
                                </ui-select>                             
                        </div>
                    </div>
                    <div class="storeCounty">
                        <p>County</p>
                        <div class="selection2">
                            <ui-select ng-model="county.selected" theme="select2" ng-disabled="disabled" style="width: 100%;">
                                <ui-select-match placeholder="Select County">{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="county in countyList | filter:$select.search"> {{county.name}} </ui-select-choices>
                            </ui-select>
                          </div>
                    </div>
                </div>
                <div class="sets">
                    <p>Group</p>
                    <div class="selection2">
                        <ui-select ng-model="group.selected" theme="select2" ng-disabled="disabled" style="width: 100%;">
                            <ui-select-match placeholder="Select Group">{{$select.selected.groupname}}</ui-select-match>
                            <ui-select-choices repeat="group in groups | filter:$select.search"> {{group.groupname}} </ui-select-choices>
                        </ui-select>
                          </div>
                </div>
            </div>
            <div class="title">
                <h1>ADVANCED GEO LOCAION</h1>
            </div>
            <div class="wrapContain">
                <div class="sets">
                    <div class="storeLattitude">
                        <p>Latitude</p>
                        <input type="text" name="latitude" class="focus" required ng-model="model.latitude" />
                    </div>
                    <div class="storeLongitute">
                        <p>Longitude</p>
                        <input type="text" name="longitude" class="focus" required ng-model="model.longitude" />
                    </div>
                </div>
            </div>
            <br class="clear" />
        </div>
        <footer>
            <button ng-disabled="store.$invalid" ng-click="saveStore()">Save Changes</button> <br class="clear" />
        </footer>
    </form>
</main>
