
<main class="stores" ng-app="kmApp.modules.store">
    <div class="subHeader">
        <h1>Stores</h1>
        <div class="option"> <a class="import" href="{{'store/import'|links}}">Import</a> <a class="newStore" href="{{'store/id/0'|links}}">+ New Store </a> </div>
    </div>
    <div class="filter">
        <div class="search">
            <input type="text" class="focus search search-icon" ng-model="searchtext"  ng-searchenter="currentpage=1;skipsize=0;getPassTableDetail()" placeholder="Search Stores"/>
    </div>
        </div>
        <div class="groups">
            <div class="selection" dropdown-select="storeLists"
                 dropdown-model="storeVal" dropdown-item-label='groupname' dropdown-item-placeholder="All Store Group">
            </div>
        </div>
    </div>
     <div class="wrapGridList" clienttable 
 						   tabledata='tabledata'
                           groupeditmode='groupeditmode'
           				   totalcount='totalcount' 
                           deletetargetlist='removeStore(I, K)'
                           edittargetlist='editStore(I, K)'
                           copytargetlist='copyStore(I, K)'
                           templatetargetlist='saveAsTempStore(I,K)'
                           deactivetargetlist='deActiveStore(I,K)' 
                           selecttargetlist='selectedTemplate(I, K)'
                           getnextpage='getnextpage()'
                           getprevpage='getprevpage()'
                           getselectpage='getselectpage(num)' 
                           overridecopy="hidecopy" overrideedit="hideedit"
                           pagesize='pagesize'
                           currentpage='currentpage' 
                           pagenumbers='pagenumbers'
                           searchtext='searchtext'>
                </div>  
</main>
