<main class="white">
    <div class="subHeader">
        <h1>Import a Store File</h1>
    </div>
    <div class="data stores storesFile">
        <header>
            <h1>UPLOAD CSV</h1>
        </header>
        <div class="wrapContain ">
            <div class="UploadFile">
                <span>Upload File</span>
                <div class="mfile">
                    <ul>
                        <li>filename.cvs <a style="float:right;  padding-top: 27px; width:22px;height: 11px;" class="close-green-icon"></a></li>
                    </ul>
                    <div class="btnFile">
                        <span>Browse</span>
                        <input type="file" name="fileUpload" class="custom-file-input" />
                    </div>
                </div>
            </div>
            <p>Store list must be uploaded in CSV. format must match the specified format.<br />Learn more about uploading Store lists <a href="#">here</a>.</p>
            <div class="fileUpload"> <a href="#">Upload List</a> </div>
        </div>

        <br class="clear" />
    </div>
    <br class="clear" />
</main>