<main class="offer" ng-app="kmApp.modules.offer">
      <div class="subHeader">
        <h1>General Settings</h1>
      </div>
      <div class="step arrow">
        <ul>
          <li><a href="#/offers/details">Details</a></li>
          <li><a href="#/offers/redemption">Redemption</a></li>
          <li class="active"><a href="#/offers/channels">Channels</a></li>
        </ul>
      </div>
      <div class="offerContainer">
        <div class="offer-left-panel offerchannel">
          <header>
            <h1>select channels</h1>
            <span class="question-icon"></span> </header>
          <div class="wrapContainer">
            <div class="sets">
              <div class="select-channels">
                <h1 class="android-icon">VS Android App</h1>
                </div>
               <div class="android-channels"><a class="border-links" href="#">SELECT</a> </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="wrapContainer">
            <div class="sets">
              <div class="select-channels iphone-channels">
                <h1 class="iphone-icon">VS Native iOS App </h1>
                <div class="codeInstruction">
                  <p>CODE 128 <span>2038293049 </span> <a href="#" > Edit</a></p>
                  <p>CODE 128 <span>2038293049 </span> <a href="#" > Edit</a></p>
                </div>
              </div>
              <div class="setBtn">
              <div class="select-with-click">
                   <h3 class="click">Selected</h3>     
                </div>
                <a href="#">Send Preview</a>
              </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="wrapContainer">
            <div class="sets">
              <div class="select-channels web-channels">
                <h1 class="web-icon">VS Web</h1>
                <p>Offer links <a href="#">http://kou.pn/vs/vsweb/49fjrei8</a></p>
              </div>
              <div class="select-with-click">
                   <h3 class="click">Selected</h3>
                </div>
            </div>
          </div>
          <div class="divider"></div>
        </div>
        <div class="offer-right-panel preview">
          <header>
            <h1>PREVIEW </h1>
            <p class="set"> Offer styling might differ by channel</p>
            <span class="question-icon"></span> </header>
          <div class="wrapPreviewOffer">
            <div class="previewOffer">
              <div class="previewOfferTemplate"> <img src="kmApp/images/offer-image.png" alt=""/>
                <h1>Buy One Get One Free</h1>
                <h2>Buy one of our new paint seats. get another free</h2>
                <h6>Valid throught jul 20</h6>
                <p>Offer good at participating U.S. Daury Queen stores.</p>
                <p>Offer good at participating U.S. Daury Queen stores. Limited one coupon or discount. no cash value.  Limited one coupon or discount. no cash value.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br class="clear"/>
      <footer> <a >Save Change</a> <a  href="#" class="border-links">Save As Draft</a> <a href="#" class="cancel">cancel</a> <br class="clear">
      </footer>
    </main>
