<main class="offer" ng-app="kmApp.modules.offer">
<form name="offer">
  <div class="subHeader">
    <h1>General Settings</h1>
  </div>
  <div class="step arrow">
    <ul>
      <li class="active"><a href="#/{{UserData.clientName}}/offers/details">Details</a></li>
      <li><a href="#/{{UserData.clientName}}/offers/redemption">Redemption</a></li>
      <li><a href="#/{{UserData.clientName}}/offers/channels">Channels</a></li>
    </ul>
  </div>
  <div class="offerContainer">
    <div class="offer-left-panel">
      <header>
        <h1>Summary</h1>
        <span class="question-icon"></span> </header>
      <div class="wrapContainer">
        <div class="sets">
          <p>Name</p>
          <input  type="text"  class="focus"  required="required" ng-model="model.offer_name"/>
        </div>
        <div class="sets">
          <p>Headline</p>
          <input  type="text"  class="focus" required="required"  ng-model="model.offer_headline"/>
        </div>
        <div class="sets">
          <p>Sub Headline</p>
          <input  type="text"  class="focus" ng-model="model.sub_headline" />
        </div>
        <div class="sets">
          <p>Offer Categories</p>
           <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="model.offer_categories" dropdown-item-label='text' dropdown-item-placeholder=" ">
                                </div>
        </div>
        <div class="sets">
          <div class="percentage">
            <p>Offer Type</p>
            <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="model.offer_type" dropdown-item-label='text' dropdown-item-placeholder="Percentage Off">
                                </div>
          </div>
          <div class="discount">
            <p>% Discount</p>
            <input type="text" ng-model="model.offer_discount"/>
          </div>
          <div class="off"> <span>off</span> </div>
          <div class="amount">
            <p>$ Amount</p>
            <input type="text" ng-model="model.offer_amount"/>
          </div>
        </div>
      </div>
      <div class="title">
        <h1 >mobile wallet options</h1>
        <span class="question-icon"></span> </div>
      <div class="wrapContainer">
        <div class="sets">
          <p>Offer Categories</p>
          <div class="selection" dropdown-select="UserManagementList"
                                     dropdown-model="model.offer_mob_category" dropdown-item-label='text' dropdown-item-placeholder="">
                                </div>
        </div>
      </div>
      <div class="title">
        <h1>additional offer content</h1>
        <span class="question-icon"></span> </div>
      <div class="wrapContainer">
        <div class="sets">
          <p>Offer Disclaimer</p>
          <input  type="text"  class="focus" required="required" ng-model="model.offer_disclaimer"/>
        </div>
        <div class="sets">
          <p>Offer Instructions</p>
          <input  type="text"  class="focus" required="required" ng-model="model.offer_instructions"/>
        </div>
        <div class="sets">
          <p>Offer Redemption Copy</p>
          <input  type="text"  class="focus" required="required" ng-model="model.offer_redemption_copy"/>
        </div>
      </div>
    </div>
    <div class="offer-right-panel">
      <header>
        <h1>images</h1>
        <span class="question-icon"></span> </header>
      <p class="imagesDesc">Images must be JPG, GIF or PNGs at 160x160 px</p>
      <div class="wrapContainer">
        <div class="setbackground">
          <header>
            <h1>Primary Image</h1>
            <a class="remove close-grey-icon" href="#">Remove</a> </header>
          <div class="setImage"><img src="kmApp/images/preview.png" alt=""/></div>
          <div class="imgPreview"> <a href="#">Preview Size</a></div>
        </div>
      </div>
      <div class="wrapContainer">
        <div class="setbackground">
          <header>
            <h1>Additional Image<span> optional if pushing to custom channels</span></h1>
          </header>
          <div class="setuploading">
            <div class="btnFile"> <span class="file-icon">Upload New</span>
              <input type="file" >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br class="clear"/>
  <footer><button ng-disabled="offer.$invalid" ng-click="saveStore()">Save Changes</button> <a  href="#" class="border-links">Save As Draft</a> <a href="#" class="cancel">cancel</a> <br class="clear">
  </footer>
  </form>
</main>
