<nav>
    <ul>
        <li class="head">REPORTING</li>
        <li ng-class="menuClass('/dashboard')"><a href="{{'dashboard'|links}}" class="dashboard-icon">Dashboard</a> </li>
        <li style="display:none" ng-class="menuClass('/advanced')"><a href="{{'advanced'|links}}" class="analytics-icon">Advanced Analytics</a> </li>
        <li class="head">MANAGE</li>
        <li ng-class="menuClass('/campaigns')"><a href="{{'campaign'|links}}" class="offer-icon">Offers</a> </li>
        <li ng-class="menuClass('/channels')"><a href="{{'channels'|links}}" class="channel-icon">Channels</a> </li>
        <li ng-class="menuClass('/message')"><a href="{{'message'|links}}" class="message-icon">Messaging</a> </li>
        <li ng-class="menuClass('/store')"><a href="{{'store/view'|links}}" class="store-icon">Stores</a> </li>
        <li ng-class="menuClass('/geofences')"><a href="{{'geofences'|links}}" class="geofence-icon">Geofences</a> </li>
        <li ng-class="menuClass('/beacons')"><a href="{{'beacons'|links}}" class="beacon-icon">Beacons</a> </li>
        <li ng-class="menuClass('/customers')"><a href="{{'customers'|links}}" class="customer-icon">Customers</a> </li>
        <li ng-class="menuClass('/library')"><a href="{{'library'|links}}" class="library-icon">Library</a> </li>
        <li class="head">SETTING</li>
        <li ng-class="menuClass('/general')"><a href="{{'general'|links}}" class="general-icon">General</a> </li>
        <li ng-class="menuClass('/account')"><a href="{{'account'|links}}" class="account-icon">Account</a> </li>
    </ul>
</nav>
