<nav>
    <ul>
        <li class="head">REPORTING</li>
        <li ng-class="menuClass('/campaign')"><a href="#/dashboard" class="dashboard-icon">Dashboard</a> </li>
        <li style="display:none" ng-class="menuClass('/advanced')"><a href="#/advanced" class="analytics-icon">Advanced Analytics</a> </li>
        <li class="head">MANAGE</li>
        <li ng-class="menuClass('/offers')"><a href="#/offers" class="offer-icon">Offers</a> </li>
        <li ng-class="menuClass('/channels')"><a href="#/channels" class="channel-icon">Channels</a> </li>
        <li ng-class="menuClass('/message')"><a href="#/message" class="message-icon">Messaging</a> </li>
        <li ng-class="menuClass('/store')"><a href="#/store/view" class="store-icon">Stores</a> </li>
        <li ng-class="menuClass('/geofences')"><a href="#/geofences" class="geofence-icon">Geofences</a> </li>
        <li ng-class="menuClass('/beacons')"><a href="#/beacons" class="beacon-icon">Beacons</a> </li>
        <li ng-class="menuClass('/customers')"><a href="#/customers" class="customer-icon">Customers</a> </li>
        <li ng-class="menuClass('/library')"><a href="#/library" class="library-icon">Library</a> </li>
        <li class="head">SETTING</li>
        <li ng-class="menuClass('/general')"><a href="#/general" class="general-icon">General</a> </li>
        <li ng-class="menuClass('/account')"><a href="#/account" class="account-icon">Account</a> </li>
    </ul>
</nav>
