<!DOCTYPE html>
<html lang="en" ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Koupan Media</title>
<link href="../css/all.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/angular.min.js" ></script>
</head>

<body>

<div id="logo"></div>
<div class="login" >
<div class="cLogin">
   <h1>Sign In</h1>
   <form name="login">
       <div class="email"> <input type="email" ng-model="user.email"/></div>
        <div class="password"><input type="password" ng-model="user.pass"/></div>
        
        <div class="loginIssue">
         <div class="cloginIssue">
          <a class="remeber click" href="#"  > Remember Me</a>
          <a class="forgot"  href="forgot.html"  > Forgot Password</a>
         </div>
        </div>
        <div class="signin"><input  class="" type="button" value="Sign In"  /></div>
        <div class="gline">
           <div class="line"></div>
        </div>
    </form>
<footer> Get in Touch with the Koupon Team to Learn more by emailing us at <a href="mailto:info@kou.pn">info@kou.pn</a></footer>
<div class="clear"></div>
</div>
</div>


</body>
</html>
