<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Koupan Media</title>
<link href="../css/all.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../js/angular.min.js" ></script>
</head>

<body>
<div id="logo"></div>
<div class="login" >
  <div class="cLogin">
    <h1> Forgot Password</h1>
    <form name="forgot">
      <div class="email">
        <input type="email" ng-model="user.email" />
      </div>
      <p>We will email you a link to reset your password</p>
      <div class="signin">
        <input  class="" type="button" value="Reset Password"  />
      </div>
      <div class="backSign"><a href="login.html" >Back to Sign In</a></div>
      <div class="gline">
        <div class="line"></div>
      </div>
    </form>
    <footer> Get in Touch with the Koupon Team to Learn more by emailing us at <a href="mailto:info@kou.pn">info@kou.pn</a></footer>
  </div>
</div>
</body>
</html>
